<div class="header__container">
<header class="header">
    <div class="menu__icon">
        <span></span>
    </div>
    <nav class="nav">
        <ul class="nav__item">
            <li><a href="#" class="menu__link">Главная</a></li>
            <li><a href="https://github.com/MadFoxBLR" class="menu__link">о нас</a></li>
            <li><a href="#" class="menu__link">информация</a></li>
            <li><a href="#" class="menu__link">Новости</a></li>
        </ul>
    </nav>

</header>
</div>