.footer{
    background-color: rgba(192, 79, 3, 0.644);
  
    padding: 15px
}
.footer__item{
    display: flex;
    align-items:center;
    justify-content: space-around;
    :hover {
        color: aquamarine;
        cursor: pointer;
    }
}