//MEDIA: 1679
@media screen and (max-width: 1679px) {}

//!MEDIA: 1679

//MEDIA: 1439
@media screen and (max-width: 1439px) {}

//!MEDIA: 1439

//MEDIA: 1365
@media screen and (max-width: 1365px) {}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {}

//!MEDIA: 1359

//MEDIA: 1199
@media screen and (max-width: 1199px) {}

//!MEDIA: 1199

//MEDIA: 1023
@media screen and (max-width: 1023px) {}

//!MEDIA: 1023

//MEDIA: 991
@media screen and (max-width: 991px) {}

//!MEDIA: 991

//MEDIA: 767
@media screen and (max-width: 767px) {
    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.856);
        padding: 100px 30px 30px 30px;
        transition: left .3s ease 0s;
        overflow: auto;
        ::before{
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 60px;
            background: color #333;
        }
       &__item{
           display: block;
           background-color: transparent;
          
            & li{
                padding-top: 30px;
               
            }    
       }
       &._active{
           left: 0;
       }
       
    }
   
    .menu__link{
        color: white;
    }

    .menu__icon {
       margin: 23px 0px 0px 30px;
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        
        &::before, &::after, & span{
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            background-color: rgb(253, 237, 4);
            transition:all .5s ease 0s;
        }
        &::before, &::after{
            content: "";
        }
        &::before{
            top: 0;
        } 
        &::after{
            bottom: 0;
        }
        & span{
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
        
    }
    &._active span{
        transform: scale(0) translate(0px, -50%);
    }
    &._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        
    }
    &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    
}
}

//!MEDIA: 767

//MEDIA: 639
@media screen and (max-width: 639px) {}

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 369px) {}

//!MEDIA: 369 